@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --font-dm-sans-regular: "DMSans", sans-serif;
  --font-dm-sans-italic: "DMSansItalic", sans-serif;
  --font-dm-sans-medium: "DMSansMedium", sans-serif;
  --font-dm-sans-medium-italic: "DMSansMediumItalic", sans-serif;
  --font-dm-sans-variable: "DMSansVariable", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans-regular);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
